body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: darkslategrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

li {
  float: left;
  margin: 0;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
  text-decoration: none;
}

li a.active {
  color: white;
  background-color: #04aa6d;
  text-decoration: none;
}

.li-coordinate {
  margin-right: 5px;  
}

.li-email {
  float: right;
}

.sec-level {
  float: right;
}

input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}